$menucolor: #B2D235;
$buttonstartcolor: #B2D235;
@mixin font($font-weight, $font-size, $font-family, $line-height, $color) {
    font: $font-weight $font-size $font-family;
    line-height: $line-height;
    color: $color;
}


