@import 'variable';
@media only screen and (max-width: 768px) and (min-width: 650px) {
  .header-all {
    .header-logo {
      .img-logo {
        width: 140px;
        height: 30px;
        margin-top: 18px;
      }
    }
    .header-menu {
      margin-top: 10px;
      li {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .header-menu {
      a:hover {
        color: white;
        background: $menucolor;
      }
    }
  }
}

